[2015-07-16 20:09] mykewould opened #2 "Array#from => List.from"
Convert ActiveSupport [Array#from](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/access.rb#L10) to Crutches List.from

[code]

Hints to get started:
- Create a Crutches.List module
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD to solve

Additional resources:
[List intro

[2015-07-16 20:14] mykewould opened #3 "Array#to => List.to"
Convert ActiveSupport Array#to to Crutches List.to

[code]

Hints to get started:
- Create a Crutches.List module
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD to solve

Additional resources:
[List intro](http://elixir-lang.org/getting-started/basic-types.html)
[List documentation](http://elixir-lang.org/docs/v1.0

[2015-07-16 20:18] mykewould opened #4 "Array#without => List.without"
Convert ActiveSupport [Array#without](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/access.rb#L38) to Crutches List.without

[code]

Hints to get started:
- Create a Crutches.List module (if it does not exist)
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD to solve

Addi

[2015-07-16 20:29] mykewould opened #5 "Array#to_sentence => List.to_sentence"
Convert ActiveSupport [Array#to_sentence](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/conversions.rb#L59) to Crutches List.to_sentence

[code]

Hints to get started:
- Create a Crutches.List module (if it does not exist)
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD t

[2015-07-16 20:39] mykewould opened #6 "Array#to_formatted_s => List.to_formatted_s"
Convert ActiveSupport [Array#to_formatted_s](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/conversions.rb#L89) to Crutches List.to_formatted_s

[code]

Hints to get started:
- Create a Crutches.List module (if it does not exist)
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
-

[2015-07-16 20:42] mykewould opened #7 "Array#to_xml => List.to_xml"
[code]

Convert ActiveSupport [Array#to_xml](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/conversions.rb#L197) to Crutches List.to_xml

Hints to get started:
- Create a Crutches.List module (if it does not exist)
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD to solve
-

[2015-07-17 00:43] #4 closed, assigned to nobody

[2015-07-17 02:00] #2 closed, assigned to nobody

[2015-07-17 16:49] #5 closed, assigned to nobody

[2015-07-17 17:20] mykewould opened #12 "Array#in_groups => List.in_groups"
[code]

Convert [Array#in_groups](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/grouping.rb#L60) => List.in_groups

Hints to get started:
- in_groups should take 3 parameters, the last parameter is a function
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD to solve

Addit

[2015-07-17 17:29] mykewould opened #13 "Array#split => List.split"
[code]

Convert [Array#split](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/grouping.rb#L91) => List.split

Hints to get started:
- Split should be able to accept an integer or a function.
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD to solve

Additional resources:
[Li

[2015-07-18 07:38] druzn3k commented on #3
PR #14 should close this.

[2015-07-19 07:56] druzn3k commented on #12
I'm willing to close this issue. If anyone is already working on this or willing to, please tell me. Thanks!

[2015-07-20 16:22] #3 closed, assigned to nobody

[2015-07-20 16:23] #13 closed, assigned to nobody

[2015-07-21 00:39] mykewould commented on #12
All yours @druzn3k!

[2015-07-21 20:21] mykewould opened #17 "Integer#multiple_of? => Integer.multiple_of"
[code]

Convert [Integer#multiple_of?](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/integer/multiple.rb) => Integer.multiple_of

Hints to get started:
- Create an Integer module
- Convert Ruby comments into Elixir [doctests](http://elixir-lang.org/getting-started/mix-otp/docs-tests-and-pipelines.html)
- TDD to solve

Additional resources:
[Integer intro](htt

[2015-07-22 19:47] mykewould opened #19 "Expose bad_options_check"
[code]

Hints to get started:
- Create a Crutches.Keyword module (if it does not exist)
- Copy in the above doctest.
- TDD to solve (`mix test`)
- Add more tests as needed.

Additional resources:
The [bad_options_check](https://github.com/mykewould/crutches/blob/master/lib/crutches/list.ex#L133) where most functionality will reside
[Keyword intro](http://elixir-lang.org/getting-started/maps-and-di

[2015-07-22 22:21] #17 closed, assigned to nobody

[2015-07-23 01:11] rickr commented on #6
Hi Michael!

First off great job on this repo and its issues - it really does make it easy to jump into elixir as a newb.

It looks like elixir's List.to_string is a bit different than ActiveSupport's - where in elixir it's assumed the list is integers representing a string and in ruby it just converts the entire array to a string:

Examples:

[code]

[code]

What mindset are you taking in these s

[2015-07-23 01:41] mykewould commented on #6
Thanks rickr! I'm a huge Rick and Morty fan, great name.

My mindset and approach are very open. I'd love everything to be discussed and worked on in the spirit of practice and learning. There's a lot of great thinking that's been floating around this repository, and I'd like to operate it by committee whenever possible. I'll kick this off with my thoughts, but I'd love to hear yours and others. I

[2015-07-23 01:46] mykewould opened #20 "Got an idea?"
If you'd like to see something implemented into Crutches, please post it here. I'll do the leg work of writing up the documentation for the issue, I just need your ideas!

[2015-07-23 02:04] rickr commented on #6
My name is Rick so it resonates =)

FWIW I agree with you - my expectation as someone coming from ruby using an 'ActiveSupport' clone would be to see

[code]

Which is not at all what I would expect in elixir.

My first thought was to implement a Crutches.List.to_s or something similar. Since this issue is extending ruby's Array#to_s it would be available for any other issues extending Array. It w

[2015-07-23 02:27] mykewould commented on #6
It's a conundrum, because so much of Elixir and it's libraries borrow from Ruby in some way, it's hard to know when we've gone too far copying over behavior. It's good to know what your expectations would be, I think that gives us a good guideline. It's important for crutches to be consistent if nothing else. If we are going to follow a lot of Ruby naming and conventions this at least gives the us

[2015-07-23 07:06] druzn3k commented on #6
My 2c: `List.to_s` & `List.to_formatted_s` should collapse in a single method and only `List.to_formatted_s` should be exposed. In the original implementation, `to_formatted_s` [call already the original `to_s`](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/conversions.rb#L98). But I'm against creating and exposing a `List.to_s` method. The goal here is

[2015-07-23 07:15] druzn3k commented on #20
Yes! We should follow a style guide. I found https://github.com/niftyn8/elixir_style_guide that seems to have quite the following. I'm not quite sure if it's a good idea per se, but I found that if i follow a style guide, I’m more prone to focus on the quality of code, and it could be a good thing for new contributors. I'm not talking about a really strict application of the style guide, PRs shoul

[2015-07-23 08:42] druzn3k commented on #20
Also, the `ActiveSupport::NumberHelper` module is quite interesting:
- number_to_currency
- number_to_delimited
- number_to_human
- number_to_human_size
- number_to_percentage
- number_to_phone
- number_to_rounded

[2015-07-23 11:09] CyrusNuevoDia commented on #6
With `to_formatted_s` acting like `to_s` unless you pass in the `:db` parameter, I think we should stick to how Elixir does it. I'm too new to Elixir to know if we can replicate the `respond_to?(:id)` behaviour that `to_formatted_s` calls when you pass `:db`, unless we check to see if a keyword list or a map has an `:id` key and use that.

`List.to_formatted_s` (or `List.to_formatted_string` imo,

[2015-07-23 11:42] CyrusNuevoDia commented on #7
On one hand there's following ActiveSupport convention, on the other hand there's Elixir's module namespacing. I'm not sure a `Crutches.List.to_xml` function makes sense, particular because the current Elixir `List.to_x` functions are for converting primitives.

Would a new module, say, `Crutches.Format` make sense as an umbrella? If we're thinking of making Crutches the swiss-army-knife of Elixir

[2015-07-23 12:48] druzn3k commented on #7
@knrz that's not a bad idea the `Crutches.Format` umbrella & the Poison dependency.

[2015-07-23 13:09] druzn3k commented on #6
@knrz the `:db` version should be built in unison with **Ecto**. Ecto's model leverage on structs for the implementation. In this case we could do something like this should work (oversimplified):

[code]

Why `Kernel.to_string`? Every base type has a `to_string` method, shouldn't we leverage on those instead on Kernel.to_string, that is built specifically to convert from characters list to string

[2015-07-23 13:12] druzn3k commented on #6
Ok, i checked the snippet and it seems to work:

[code]

[2015-07-23 15:16] janxious commented on #6
Second `List.to_formatted_string`. Second using Ecto's struct-based model usage.

[2015-07-23 19:41] mykewould commented on #6
I like the idea of changing the name to `List.to_formatted_string` and implementing behavior that is more in line with Elixir. The expectations and results align better in my opinion. I think we should discuss how `.to_s` functionality should live in Elixir, and what it would look like, but it can be for another day/thread.

I also agree with using Ecto's struct-based model usage.

It sounds like

[2015-07-23 20:02] CyrusNuevoDia commented on #6
@druzn3k I can't seem to find `Map.to_string` or `Enum.to_string`. Tbh I'm sorta hitting out of my area when I said `Kernel.to_string`. Whatever you think is best.

[2015-07-23 20:21] druzn3k commented on #6
@knrz you are right, I didn't check those! I searched and the only way I found for converting Maps & Lists to strings is `inspect`, but it doesn't _feel_ right. Damn...

:+1: for me to for changing the name to `to_formatted_string`!

[2015-07-23 20:27] mykewould commented on #19
I had to make the options check a little more generic and flexible. Thoughts and feedback always welcome.

[2015-07-23 20:35] mykewould commented on #7
I like that approach @knrz

As an aside, I was curious to see how this issue played out. Moving forward, I think I'll format these types of issues as "discussion". Then possibly a sort of "breakdown" party to move this into manageable chunks that people can tackle... I'm just brainstorming. I can also just leave "hard" and let the assumption be that additional discovery will need to take place.

[2015-07-23 20:37] mykewould commented on #20
+1 for a style guide and the numberHelper module. I'll work on creating issues to tackle both of those! Thanks @druzn3k

[2015-07-23 21:19] CyrusNuevoDia commented on #7
@mykewould I'm totally interested in fleshing it out as much as I can—I'm willing to tackle `to_xml` and `to_json` once we finalize on how we want to do them—but I'm afraid I won't be leaving enough for other members to contribute towards. What do you think?

[2015-07-23 22:50] #19 closed, assigned to nobody

[2015-07-23 22:52] mykewould commented on #7
@knrz do you think we could break this into smaller chunks, allowing you to tackle/architect the bulk, while giving some to other members? I think that'd be ideal, but if it's too much, you can grab all of it.

EDIT: typo

[2015-07-23 23:04] CyrusNuevoDia commented on #7
@mykewould
Create two new issues, and let anyone handle them:
1. Crutches.Format.to_json
   1. Copy/paste the provided ElixirDoc/DocTest
   2. Add [poison](https://github.com/devinus/poison) as a dependency (look into how to do that)
   3. Write the appropriate code to call the appropriate poison functions
2. Crutches.Format.to_xml
   1. Copy/paste the provided ElixirDoc/DocTest
   2. Add [xml_bui

[2015-07-23 23:22] mykewould opened #22 "Wiki Design: Discussion"
Initial layout proposal for wiki design. Obviously we want it so that it covers enough information for a beginner to get started. I have no intentions of duplicating efforts around Elixir documentation, but there will be a links section for those who are totally new to the language. Most of the documentation will link to the code where the functions are described in more detail. The FAQ will outli

[2015-07-23 23:22] mykewould commented on #22
style guide https://github.com/niftyn8/elixir_style_guide

[2015-07-23 23:23] mykewould opened #23 "Crutches.Format.Number.as_currency"
[code]

[2015-07-23 23:23] mykewould opened #24 "number_to_delimited"
place holder

[2015-07-23 23:24] mykewould opened #25 "Crutches.Format.Number.as_human"
[code]

[2015-07-23 23:24] mykewould opened #26 "Crutches.Format.Number.as_human_size"
[code]

[2015-07-23 23:24] mykewould opened #27 "Crutches.Format.Number.as_percentage"
[code]

[2015-07-23 23:25] mykewould opened #28 "number_to_phone"
place holder

[2015-07-23 23:25] mykewould opened #29 "Crutches.Format.Number.as_rounded"
[code]

[2015-07-23 23:27] mykewould opened #30 "Crutches.Format.to_xml"
More information to come. Generated from #7.
- Copy/paste the provided ElixirDoc/DocTest
- Add xml_builder as a dependency (look into how to do that)
- Write the appropriate code to call the appropriate xml_builder functions.

[2015-07-23 23:28] mykewould opened #31 "Crutches.Format.to_json"
More information to come. Generated form #7.
- Copy/paste the provided ElixirDoc/DocTest
- Add poison as a dependency (look into how to do that)
- Write the appropriate code to call the appropriate poison functions

[2015-07-24 17:58] #24 closed, assigned to nobody

[2015-07-25 12:30] jesuspc commented on #20
About NumberHelper, how to tackle the fact that ActiveSupport's NumberHelper relies on i18n to configure the format of most of the outputs?

[2015-07-25 15:01] duijf commented on #22
Hi Michael,

The wiki, IMHO should be reserved for things like project philosophy and the FAQ. Docs and contributing information have better places.
- `CONTRIBUTING.md` &mdash; a markdown file that [GitHub will link to](https://github.com/blog/1184-contributing-guidelines) when someone wants to open an issue or PR. This could contain everything that you put under the "How to Contribute" category.

[2015-07-25 15:09] duijf commented on #20
@jesuspc, @mykewould; `en_US.UTF-8` first and then others when we figure out the `i18n` stuff?

Anyway, while I really like the fact that sharing ideas is encouraged, I think the best way to discuss them is to encourage people to open an issue for their specific idea. This would prevent these threads from getting out of hand by having different discussions taking place in the same thread.

Could b

[2015-07-25 15:38] duijf opened #34 "Continuous integration"
It could be worthwhile to adopt CI to get some feedback on tests in PRs. In addition, we get some awesome badges :)

There are a couple of services that I like and work with Elixir projects:
- [Travis CI](https://travis-ci.org/) continuous integration that checks the correctness of the code.
- [Inch CI](https://inch-ci.org/) feedback on documentation quality.

Curious to hear thoughts and opinions

[2015-07-25 17:17] jesuspc commented on #28
I've submitted a pull request about it: https://github.com/mykewould/crutches/pull/35

[2015-07-25 17:35] jesuspc commented on #34
+1

[2015-07-26 03:37] CyrusNuevoDia commented on #34
I'm down. I've added a `.travis.yml` config.

@duijf if you could confirm that it looks good (it's my first time using CI), let me know.
@mykewould login to [Travis CI](http://travis-ci.org) with your Github and enable it for this repo, if you could.

Edit: @mykewould dunno if it was you or me, but it's all working now.

[2015-07-26 05:37] mykewould commented on #34
Travis and inch integrated! Thanks guys!

[2015-07-26 05:38] #34 closed, assigned to nobody

[2015-07-26 05:45] mykewould commented on #22
Love it @duijf. I agree.

[2015-07-26 06:22] mykewould commented on #22
Added hexdocs.

[2015-07-26 06:26] mykewould commented on #34
@knrz I had enabled the account before I ran out the door, so adding the .travis.yml made it work :)

[2015-07-26 09:37] druzn3k commented on #28
Merged #35

[2015-07-26 09:37] #28 closed, assigned to nobody

[2015-07-26 09:46] druzn3k commented on #22
Added `CONTRIBUTING.md`

[2015-07-26 12:41] jesuspc commented on #23
As discussed in [here](https://github.com/mykewould/crutches/issues/20#issuecomment-124842390) and proposed by @duijf while there is no current support for locale configuration via an i18n-like dependency we should probably ignore by now the **locale** option and use en_US.UTF-8 as default.

For that particular issue I guess that would mean reusing ActiveSupport's defaults which are:

[code]

[2015-07-26 12:47] duijf commented on #20
The current `CONTRIBUTING.md` document encourages people to create a new issue when they have an idea or feature request. If everyone is okay with that workflow, then I guess this can be closed?

[2015-07-26 12:48] druzn3k commented on #23
Agreed, for now it could be _good enough_. My proposal (for the future) would be to integrate [linguist](https://hex.pm/packages/linguist) as a dependency. I don't know any other internationalization libraries, so other suggestions are welcome.

[2015-07-26 12:49] druzn3k commented on #20
closing.

[2015-07-26 12:49] #20 closed, assigned to nobody

[2015-07-26 12:50] duijf commented on #34
@knrz Yup, looks good :+1:. I've added the versions in the `.travis.yml` file to the README in #39 :)

[2015-07-26 12:59] druzn3k opened #40 "Internationalization support"
I think we should start thinking about internationalization. The porting of the `NumberHelpers` module has given this issue a boost on priority. Otherwise, the number helpers are mostly useless outside of USA. I think that [linguist](https://github.com/chrismccord/linguist) could be really easy to integrate. But, on the other hand, I think that the less dependencies we have, the better. Thoughts?

[2015-07-26 13:08] duijf commented on #6
I think the Elixir philosophy here is that when you convert between values, you want the semantics of the data to stay as much the same as they were. Converting `[101, 97]` to a binary with the `to_string` method gives you `"ea"`, which can be converted back to the original list with `to_char_list` (just a normal list, try `[101, 97] |> to_string |> to_char_list |> Kernel.++([0])` to see `[0]` app

[2015-07-26 13:17] druzn3k commented on #6
`humanized_join`?

The purpose of this function is not to output a joined array, but an array joined in a _human_ way, so `[1,2,3]` became `"1, 2 and 3"` and not `"1, 2, 3"`. We could always implement [protocols](http://elixir-lang.org/getting-started/protocols.html) as suggested in another issue if we want to provide formatting primitives.

[2015-07-26 13:31] duijf commented on #6
@druzn3k I don't think so. Wasn't that `to_sentence` (#5, already implemented)?

Anyway, I've got some conflicting views (`to_sentence` seems better to me than `to_formatted_string`, but I'm not sure why), so I've got some thinking to do.

[2015-07-26 13:35] druzn3k commented on #6
LOL, you are right @duijf, I got it confused! :+1:

[2015-07-26 14:24] jesuspc commented on #40
I would take the same approach as ActiveSupport did and include the most popular internationalization library as a dependency. Otherwise a lot of noise is going to be added into the repo in order to support a small subset of functionalities. Furthermore, it is not likely to be using the **locale** parameter in a project that does not already require some sort of internationalization library (which

[2015-07-26 18:06] duijf opened #42 "Options.combine!"
Currently, I'm seeing something along these lines a lot:

[code]

I think it would be nice if we instead could write something like this:

[code]

It is less code to keep track of, it makes the intent more clear and is a bit less to type. I also think it is a better API.

I'll work on this if we end up liking this. Going to be lots of work and be a little invasive to adopt this everywhere.

What k

[2015-07-26 18:11] jesuspc commented on #42
Great idea

[2015-07-26 18:19] duijf commented on #42
@jesuspc Thanks!

I think it might be beneficial to put the functions in the `Crutches.Keyword` module in this one since they have more to do with option handling than with manipulating keyword lists.

[2015-07-26 22:35] jesuspc commented on #23
I've started implementing it but I have a doubt: should  both char lists and binaries (or even anything implementing the String.Chars protocol) be allowed as params for options such as format or delimiter?

[2015-07-26 22:48] CyrusNuevoDia commented on #23
I say we should only accept strings, even as the input number. Feel free to change the Rails-derived tests accordingly.

[2015-07-26 23:01] duijf commented on #23
@knrz I may be overlooking something, but why wouldn't we also support the `float` and `Integer` types? It is called `number_to_currency` after all.

[2015-07-26 23:51] CyrusNuevoDia commented on #23
Oh—my bad. I completely miscommunicated/don't know what I was saying.

I'm just saying to blacklist char_lists :)

[2015-07-27 15:49] rickr commented on #6
Hello all,

Sorry for the delay - I was out of town this weekend.

@duijf brings up a good point. I'll do some research but is anyone aware of any instances of to_$FOO methods that already exist and are destructive? Could we note that this method is destructive in the documentation?

I think renaming would be a bad idea if we're going for parity we ActiveSupport. If we want to just be inspired by

[2015-07-27 16:42] druzn3k commented on #6
The goal is to became quickly ActiveSupport inspired. It's unavoidable, but for now we are still heavily using ActiveSupport as a base, until it will be good/large _enough_ to diverge (but I think that with the last activities we are already moving in that direction). So this could became the _turning point_ in which we start officially to diverge. :+1:

[2015-07-27 17:30] druzn3k commented on #23
Updated the documentation

[2015-07-27 17:40] druzn3k commented on #25
Updated the description of the issue

[2015-07-27 17:45] druzn3k commented on #26
Updated description of the issue

[2015-07-27 17:47] #30 closed, assigned to nobody

[2015-07-27 17:47] #31 closed, assigned to nobody

[2015-07-27 17:56] CyrusNuevoDia commented on #30
Formatting as JSON or XML is out of the scope of this project, at least for now.

[2015-07-27 17:56] CyrusNuevoDia commented on #31
Formatting as JSON or XML is out of the scope of this project, at least for now.

[2015-07-27 17:56] mykewould commented on #30
I'll put this in the .to_xml mega thread as well.

[2015-07-27 17:57] mykewould commented on #7
Formatting as JSON or XML is out of the scope of this project, at least for now.

[2015-07-27 17:57] #7 closed, assigned to nobody

[2015-07-27 17:58] mykewould commented on #22
I'll make some alterations to the wiki, but I'm closing this for until more specific wiki questions arise.

[2015-07-27 17:58] #22 closed, assigned to nobody

[2015-07-27 18:01] druzn3k commented on #29
updated description

[2015-07-27 18:02] CyrusNuevoDia commented on #29
Taking this on right now :shipit:

[2015-07-27 18:08] druzn3k opened #44 "Renaming Number.number_to_XYZ to Number.format_as_XYZ"
What do you think guys? Is this change in the naming scheme for better or worse?

[2015-07-27 18:18] CyrusNuevoDia commented on #44
We could also rename the module to `NumberHelper`, and then go with `NumberHelper.to_delimited(n)`.

[2015-07-28 01:48] garman commented on #26
I'd be willing to take a crack at it. Any other people who want to, please feel free! This may take me a bit; still really new to Elixir.

[2015-07-28 03:03] CyrusNuevoDia commented on #26
@garman go for it! I'm currently attempting `Number.number_to_rounded`, which overlaps with this quite a bit. If you can create a function that purely handles significant digits and trimming trailing zeroes, I've already got the rest handled (albeit not committed to git yet), let me know and we could close #29 together, then you can have the honour of wrapping this up :shipit:

[2015-07-28 08:53] #12 closed, assigned to nobody

[2015-07-28 11:19] duijf commented on #44
Did some thinking, and here are my two cents:
- We are eventually going to end up with more formatters for other types, Strings, Lists, etc.
- I really like the `as_xyz` naming (as opposed to `to_xyz`) for reasons I mentioned in #6, [here](https://github.com/mykewould/crutches/issues/6#issuecomment-124982392).

I suggest putting all functions having to do with formatting in a submodule of `Crutche

[2015-07-28 11:36] CyrusNuevoDia commented on #44
@duijf—you're spot-on! I agree completely. :+1: :shipit:

[2015-07-28 12:00] druzn3k commented on #44
Ok, no problem, seems a good solution. This will be part of the 1.0.0 milestone. I will open the appropriate issues.

[2015-07-28 12:11] druzn3k opened #45 "Convert Crutches.Helpers.Number.number_to to Crutches.Format.Number.as_"
The whole module should be converted to the new format.

[2015-07-28 12:34] druzn3k commented on #44
Started the conversion in PR #46

[2015-07-28 18:41] druzn3k opened #47 "Linguist integration"
Integration for internationalization.

[2015-07-28 21:49] garman commented on #26
@knrz making progress, slowly. I'll let you know if i get something together soon. Thanks!

[2015-07-29 14:12] #45 closed, assigned to nobody

[2015-07-29 14:13] #44 closed, assigned to nobody

[2015-07-30 01:53] garman commented on #26
@knrz Sorry for the delay. I have put something together -- I'd appreciate if you took a look to make sure it fits your ideas, and the style is appropriate. You can find it [on my branch](https://github.com/garman/crutches/tree/number_to_human_size).

Relevant code starts at line 172. As these are private functions, I left out any documentation/comment specs. If this is not proper, let me know, an

[2015-08-01 19:56] #23 closed, assigned to nobody

[2015-08-04 01:28] Axxiss commented on #27
Hi, just to avoid stepping on each others work. I intend to implement this issue.

As i18n is still discussed in #40, locale parameter will have no effect until a something clearer came up.

[2015-08-04 08:10] druzn3k commented on #27
@Axxiss it's yours. We learned about the existence of [Number](https://github.com/danielberkompas/number) and already talked with @danielberkompas about a possible convergence of his library with ours. For now we are going our direction without a merge in the _imminent_ future (not before 1.0 at least) because we still are a learning project, and merging will take away a lot of learning material.

[2015-08-04 11:24] Axxiss commented on #27
Great, will try to came up with a first version on my own. Then we can compare/merge/refactor against Number version.

[2015-08-04 12:20] druzn3k commented on #27
Good luck @Axxiss :+1:

[2015-08-04 17:35] duijf commented on #42
PR is merged, closing.

[2015-08-04 17:35] #42 closed, assigned to nobody

[2015-08-04 17:56] duijf opened #56 "Make use of Option.combine instead of Option.validate!"
PR #43 is now merged, which gives us some nicer functions to handle keyword options to functions, but we aren't out of the woods yet. There are a couple of locations in the library that aren't making use of the new functions in the `Crutches.Option` module yet.

Here is a list:
- [x] `Crutches.Format.Number.as_delimited/2`, see #57.
- [x] `Crutches.Format.Number.as_phone/2`
- [x] `Crutches.Format.

[2015-08-04 20:30] duijf commented on #56
So the first one is pretty much out of the way if anyone was in need for an example. Anyone that would like to take a shot is free to tackle any subitem(s). Please refer to this issue when you send in a PR :)

[2015-08-08 04:52] Axxiss commented on #27
Given this case

[code]

The expected output shouldn't be `100.000 %` as the default `precision` is 3, and `strip_insignificant_zeros` is false.

[2015-08-08 09:39] druzn3k commented on #27
The choice is yours, the only _rule_ is that it has to be consistent with the other parts of the library. If `%n` has been used to reflect the standard options in the other methods, go with it. :+1:

[2015-08-08 15:22] Axxiss commented on #27
I think is more than reflect the behaviour of other format method, all methods should behave the same. It doesn't make sense that `as_percentage(100) == 100.000%` and  `as_percentage(100, format: '%n %') == "100 %"`. In that case for the same numerical input we have two different representations (leaving aside the % symbol).

As a user I would expect that a method does the same, despite the params

[2015-08-14 23:11] duijf commented on #56
All done thanks to @druzn3k!

[2015-08-14 23:11] #56 closed, assigned to nobody

[2015-08-15 08:37] druzn3k commented on #25
working on this :+1:

[2015-08-15 12:31] duijf commented on #27
This was merged with #59.

[2015-08-15 12:31] #27 closed, assigned to nobody

[2015-08-16 12:42] druzn3k opened #63 "Crutches.String.truncate"
[code]

[2015-08-16 15:21] CyrusNuevoDia commented on #63
Should this go under the Format umbrella?

Edit: Should `String.underscore` and `String.camelize` go under the format umbrella too?

[2015-08-16 16:28] #25 closed, assigned to nobody

[2015-08-16 17:44] duijf commented on #63
@knrz This one I don't think will benefit from being under format. Those other ones you mention might be more at home in a module like that.

[2015-08-17 02:08] CyrusNuevoDia opened #69 "List.to_sentence => Format.List.as_sentence?"

[2015-08-17 02:54] #69 closed, assigned to nobody

[2015-08-17 03:39] CyrusNuevoDia opened #70 "Integer.ordinal/ordinalize => Format.Integer.ordinal/ordinalize?"

[2015-08-17 23:03] #70 closed, assigned to nobody

[2015-08-18 22:00] jdl opened #72 "Do you have a list of issues that are coming?"
Hey there.
I saw your post on reddit and this looks like a fun project to help with. I'm an Elixir newbie, but the easier issues seem like a great place to start. Seems like they're all being worked on though. Do you have more coming soon, or a suggestion for a missing feature?

[2015-08-19 07:43] druzn3k commented on #72
There is no list, unfortunately. But there is sure a lot of work to do, for example, [overlaps?](http://guides.rubyonrails.org/active_support_core_extensions.html#overlaps-questionmark) is a good candidate because it's simple. And we are open to proposals, so if you want to implement a method, even if is not part of ActiveSupport, you could open an issue and we could discuss if the functionality f

[2015-08-19 13:43] jdl commented on #72
overlaps? sounds conceptually simple enough. I'll give it a shot. Would you think that a range.ex file is appropriate in /lib for this?

[2015-08-19 13:52] CyrusNuevoDia commented on #72
@jdl it sounds perfect :shipit: :smile:

[2015-08-19 17:04] jdl opened #73 "Crutches.Range.overlaps?"
Compare two ranges and see if they overlap each other

[code]

[2015-08-19 17:04] jdl commented on #73
I'll get something working and supply a pull request. Please let me know if _anything_ I'm doing is wrong or annoying.

[2015-08-19 17:05] druzn3k commented on #73
:+1:

[2015-08-19 17:23] druzn3k commented on #73
Just a few tips:
- write a good documentation
- start building a _working_ prototype and then improve, don't try to optimize too early (if you are coming from a non-functional programming language it's difficult to adapt, more if you have years of experience with OOP for example)
- Ranges can be pattern-matched:

[code]

[2015-08-19 17:25] jdl commented on #73
Cool. To show you where I was headed, this is what I have in my console so far.

[code]

[2015-08-19 17:36] druzn3k commented on #73
good :+1: you could also expand the issue (this is almost too simple) and build also a function that given two Range respond with a range that is the the overlap. I don't know if this is of any utility, but it's worth a try. In the worst case, we could remove it later.

 Example:

[code]

[2015-08-19 17:42] jdl commented on #73
People commonly want to find overlapping date ranges, so this might be the start of something useful. The opposite could be used for scheduling: Find a list of ranges within these two ranges that don't overlap. Probably too complicated to start with though.

[2015-08-19 17:46] druzn3k commented on #73
Start with this, and if you are confident enough when you have finished you could step up your game and build the non-overlapping version! :)

[2015-08-19 18:16] duijf commented on #73
@jdl Looks like a good start!

Some suggestions for names and another function that might be of use:
- `Range.intersection` for the overlap feature: `Range.intersection(1..5, 4..6) => 4..5`
- `Range.union` for combining two ranges (only when they have an intersection): `Range.union(1..5, 4..10) => 1..10`

Maybe there's more stuff from set theory that might be useful, but I have no idea. ([Here](ht

[2015-08-19 18:24] druzn3k commented on #73
For reference Aldo: [Set in the standard library of elixir](http://elixir-lang.org/docs/stable/elixir/Set.html)

[2015-08-19 23:32] jdl commented on #73
This one:

[code]

Wouldn't that just be 5..5 ?

[2015-08-20 00:06] jdl commented on #73
I have overlaps?, intersection, and union on a branch in my fork.

https://github.com/jdl/crutches/commit/bbe26dd509d242ab824c39ce37378b02cfe13a7f

[2015-08-20 01:28] jdl commented on #73
It occurred to me tonight that Elixir might support ranges going backwards, and it does. So those methods don't work yet.

[code]

would fail. I'll keep at it.

[2015-08-20 17:14] jdl commented on #73
Fixed the bug. Now I have two commits on that branch, with two semi-explanatory commit messages. If I wanted to create a pull request, what's the best way to do that so that it's easy on the upstream side?

https://github.com/jdl/crutches/commit/e96259a0ecb0c2a20b8fe5576d0c146b13bbc78e

[2015-08-20 17:16] druzn3k commented on #73
Rebase against master, squash everything in a single commit, write a proper commit message. :)

[2015-08-20 17:27] jdl commented on #73
Squashed: https://github.com/jdl/crutches/commit/ddf5535d66601f9630bee1807ef38cb57f52b9b4

Pull request: https://github.com/mykewould/crutches/pull/74

Hopefully I didn't screw anything up.

[2015-08-20 17:29] druzn3k commented on #73
On a first look seems good! When I'm at the PC a will take a better look and merge it.

[2015-08-20 18:30] #63 closed, assigned to nobody

[2015-08-20 23:21] #73 closed, assigned to nobody

[2015-08-21 07:16] druzn3k commented on #72
closed

[2015-08-21 07:16] #72 closed, assigned to nobody

[2015-08-21 07:27] druzn3k opened #75 "RFC: UnionRange / ComplexRange"
Should we build a data structure based on `Range` that consist in the uninion of **n** `Range`s or is out of scope? Should this live in a different project? Could be another library for kickstarting people in the world of Elixir!

[2015-08-21 12:10] CyrusNuevoDia commented on #75
On one hand there's adhering to set theory, on the other hand I can't find any other programming language that does this. I'd be willing to write it just for the sake of saying we have it, but just because we can, doesn't mean we should.

It would inevitably have to be a struct containing a list of ranges, because a 'complex' range wouldn't be limited to just 2 ranges.

[code]

Also, re: naming, U

[2015-08-21 13:16] druzn3k commented on #75
MultipleRange? :)
Il 21/ago/2015 14:10, "Kash Nouroozi" notifications@github.com ha scritto:

[2015-08-23 19:27] duijf commented on #29
Closed with the merge of #64 in 8c3baf4.

[2015-08-23 19:27] #29 closed, assigned to nobody

[2015-08-23 22:18] duijf commented on #75
The more I think about the general use cases of this, the more I think it is out of scope of this project, since the number of use-cases is quite small.

(I also doubt the usefulness in a library of it's own. Needing stuff like this, I think, is likely because of business requirements, which come with a lot of domain specific rules that you cannot include in a library. If there would only be a few

[2015-08-23 23:06] duijf opened #76 "Investigate including a module extension mechanism"
I found [this gist](https://gist.github.com/orenbenkiki/5174435) that implements Elixir module inheritance/extension. Maybe this good functionality to provide (also seems to provide a way to alias modules like `Crutches.List` to `List` without shadowing the standard library).

The gist has one issue (it is marked as a todo): it doesn't provide something to override functions without changing all o

[2015-08-24 06:11] druzn3k commented on #75
No worries @duijf. :+1: I was just doing a follow-up to the discussion in the other issue. :smile:

[2015-08-31 08:20] druzn3k commented on #6
closing this in favour of reopening a new issue less ambiguous

[2015-08-31 08:20] #6 closed, assigned to nobody

[2015-08-31 08:24] #75 closed, assigned to nobody

[2015-09-06 13:46] #26 closed, assigned to nobody

[2015-09-18 13:17] Axxiss opened #78 "Project status."
As the idea of the project is to create kind of an Active Support migration. Would be nice to have a checklist of ActiveSupport features and what is already done. This will generate a better notion of the project status.

What do you think of this?

[2015-09-18 13:42] druzn3k commented on #78
Some kind of comparison could be useful, but it shouldn't give misdirections on the path taken by the project: the goal is for this to take the role that ActiveSupport has for Rails, not to be a clone. Making a comparison could give the impression of being a clone (IMO). What do you think?

[2015-09-18 13:52] Axxiss commented on #78
Agree that it could lead to some confusion.  To avoid this scenario I would
state loud and clear that is not intended to be a clone. Despite is not
intended to be one, at the beginning it probably will be kind of a clone,
but as time pass it will move in its own direction.

I think having this list can help people who's lurking around to have a
better idea of what can be done.

On 18 September 201

[2015-09-18 13:56] druzn3k commented on #78
Do you want to write it @Axxiss? I could help you, if you need any help!  :+1:

[2015-09-18 13:58] Axxiss commented on #78
Sure, no problem. Will ping you when I have something.

[2015-09-18 14:09] druzn3k commented on #78
wonderful, thanks @Axxiss

[2015-09-24 14:13] druzn3k commented on #78
closed with #80

[2015-09-24 14:13] #78 closed, assigned to nobody

[2015-10-05 12:49] duijf commented on #76
I've taken a look at this, and it doesn't seem like it is possible to do this without any obvious drawbacks (whether it is the problem identified in the gist or runtime dispatch), so I'm closing this and hope this will get addressed in a future version of the language.

[2015-10-05 12:49] #76 closed, assigned to duijf

[2015-10-23 12:49] eksperimental opened #84 "Compatible license with Elixir's one"
Hi, i just found out through the elixir mailing list about this project.
I have thought about something like this for a while, so kudos for creating something like this,
I have code to contribute, but before moving forward I would like to make a comment that can be taking into consideration.
Given the nature of the project, it is very likely that at some point some of the functions may end up maki

[2015-10-23 13:06] druzn3k commented on #84
For me there's no problem. I would love to see pieces of code ported into the elixir codebase. :+1:

[2015-10-23 13:07] eksperimental commented on #84
maybe it could be asked in the elixir mailing list what would be the best way to deal with a situation like this.
It can also help other projects in the same fashion as this one, where code depends on many contributors, not a single person.

[2015-10-23 13:23] eksperimental opened #86 ""to" function name is misleading"
I was skimming through the docs, this one certainly called my attention.

to is generally used to convert data type from one type to another, such as in Enum.to_list/1, Float.to_string/1

I think Crutches.List.to/2 will make more sense to rename it Crutches.List.up_to/2
the thing is what are you gonna name "from".

personally I think having Enum.slice/3 there is not need to have such functions (an

[2015-10-23 13:24] eksperimental commented on #86
oops. i forgot to mention Crutches.String.to
but same, as with Enum.slice, but we can use String.slice/3

[2015-10-23 14:30] duijf commented on #84
I think this is a good discussion to start.

I've recently seen a few threads about relicensing code. It might be a bit of a painful job to do since we don't have a contributor licensing agreement, therefore we need permission of each individual contributor to relicense the project.

Let me see if I can find the relevant thread when I get home.

[2015-10-23 14:33] duijf commented on #40
Elixir has a new approach to internationalisation, `gettext` (https://github.com/elixir-lang/gettext). I think this is something that is covered elsewhere. Closing the internationalisation issues.

[2015-10-23 14:33] #40 closed, assigned to nobody

[2015-10-23 14:33] duijf commented on #47
Closing this. See my comment on #40.

[2015-10-23 14:33] #47 closed, assigned to nobody

[2015-10-23 14:52] eksperimental opened #88 "Add description to README and Crutches module"
Right now I am unable to know what the aim of the project is unless I know about what ActiveSupport is.
Also, a description in the module doc should be added so it will appear in the docs

[2015-10-23 15:58] CyrusNuevoDia commented on #86
:+1: Good point. I approve.

[2015-10-23 18:16] duijf commented on #84
It was this issue: https://github.com/FLIF-hub/FLIF/issues/14

Main takeaway:

The whole thread is a pretty good discussion and overview of the issue. I don't have a clear idea how to move forward (not really versed in the legal matters, so I'll just leave the link here while I go read up).

[2015-10-23 18:33] duijf commented on #88
Thank you for the feedback! I've pushed a new description in https://github.com/mykewould/crutches/commit/78f22688ccd69b51a85356c402ebee8f8244541d. Is it similar to what you had in mind?

[2015-10-23 18:53] eksperimental commented on #88
Thats excellent. same could be added to module doc

[2015-10-23 18:55] duijf commented on #86
I agree that the naming is unclear and that they'd be better suited for the Enum module, although I'm not sure if I'd like to see them removed.

I like the way the following reads:

[code]

Better than:

[code]

That is obviously just personal preference. I don't know if the readability weighs up to shipping another function that users need to find out about. (And lots of these "aliases" might not

[2015-10-23 19:09] duijf commented on #88
Whoops, forgot about that. Changed what was there to the current description in https://github.com/mykewould/crutches/commit/4f6d49c38bc2472b640561b313ccb6e5b6d59c54. Thanks!

[2015-10-23 19:09] #88 closed, assigned to nobody

[2015-10-24 07:41] eksperimental commented on #86
@duijf I wouldn't worry about the performance. you can use https://github.com/alco/benchfella to see if there is any performance penalty.
Since these are just wrappers, I think it would be better to write them as macros, where no penalty performace will happen.

personally I think that you are shooting yourself in the foot by adding functions that are already present in elixir with a different nam

[2015-10-24 07:44] eksperimental commented on #86
but it all depends on the aim of your library.

[2015-10-24 16:47] CyrusNuevoDia commented on #86
@eksperimental we're running into the same choices Ruby devs needed to make. For example, what's the difference between `(1..9)` and `1.upto(9)`? There effectively isn't any.

Code is read more often than it is written, and it's a matter of communicating your intentions. Which of the following is better at stating intentions?

[code]

As software developers we write tools to make our life easier.

[2015-10-25 05:05] eksperimental commented on #86
@knrz `if` is a convenience macro, that translates to `case`, letting you write an `if`..`else` statement in one line instead of 4, https://github.com/elixir-lang/elixir/blob/40c70ffcfabfd9547b012bfceaeeac4d1c047e86/lib/elixir/lib/kernel.ex#L2319-L2322
the example with `to` and `from` are not doing that.

[2015-10-25 12:14] duijf commented on #86
Alright, I'm going to summarise the discussion:
- `List.to`, `String.to` and `List.from` have unclear names because these words are also used in type conversions. I think everyone agrees here.
- `List.to` and `String.to` can be renamed to `Enum.up_to` and `String.up_to` (and I think `List.from` can be `Enum.starting_from`). I also assume everyone agrees this is more clear.
- There is disagreement

[2015-10-25 12:29] duijf commented on #86
By the way, I like `List.from` since it saves you from checking the size of the collection. You can only give `Enum.slice` a count and you can't tell it to just give you everything from some point to the end of the collection. (Would be a good PR to Elixir itself also).

[2015-10-25 16:20] duijf commented on #84
Ok, so I did some reading and my understanding is the following (IANAL):
- When two software projects use different licenses, their licenses can be compatible or not.
- When one projects license is one directionally compatible with another, code can be shared that way.
- The MIT license (that we use) is one directionally compatible with the Apache 2.0 license (that Elixir uses).
- See the graphica

[2015-10-25 16:21] druzn3k commented on #84
Dude, you are a hero! :bow:

[2015-10-25 16:42] duijf commented on #84
Haha thanks. Leaving this open for a while to collect comments.

[2015-10-26 13:17] CyrusNuevoDia commented on #86
@duijf `List.from` is already in the standard library as `Enum.drop`.

[2015-10-26 13:23] duijf commented on #86
@knrz Didn't know that. Good to know. What do you think about the approach I proposed?

[2015-10-26 13:25] CyrusNuevoDia commented on #86
Agreed on the unclear names, but I'm thinking that maybe we should rename it like this:

[code]

We'd be analogous to the `Enum` protocol this way and the naming would suggest it works similarly to `Enum.drop` and `Enum.take`, which it does.

[2015-10-26 13:33] knrz commented on #86
Here's the implementation, if anyone's interested:

[code]

[2015-10-27 14:54] eksperimental commented on #86
@duijf thanks for your write up.
But i would hold on deprecating anything until you make a decission on supporting alias or not, because it will be unnecessary, and if you decide to drop alias functions, then you will have two set of deprecated functions.

[2015-10-27 14:56] eksperimental commented on #86
Just to add more fuel to the discussion,
in adition to String.slice/3, we have String.binary_part/3 which seems to be the right way to do it.
read the section named "String and binary operations"
http://elixir-lang.org/docs/master/elixir/String.html

[2015-10-27 15:11] eksperimental commented on #84
@duijf thanks again for the write-up and research.. they are really useful!

Well my main point is that usually when you contribute code to elixir, you give your rights to the project.
that what happens with most code in github, because it will be impractical to maintain a list of who did what , specially when contributions are not whole pieces of code but corrections.

The thing is that I have th

[2015-11-03 10:35] duijf commented on #84
@eksperimental Sorry for the delay. Thanks for sharing your viewpoint on this and providing the suggestions. I can start a new thread on the elixir-talk email list within a few days (if you want to do this, and can do it sooner, then feel free to do so).

If the Elixir project isn't willing to do this, then I don't think that adopting a dual license fixes the issue though. The MIT and Apache licen

[2015-11-04 18:07] eksperimental commented on #84
Erlang requires people to sign an agreement (i have to send an email myself, "signing" this agreement"),
but Elixir has a notice in the CONTRIBUTING file or somewhere saying that if you submit a PR you cede the rights to Plataforma tech. I think most of the projects is github are taking this latter approach.
So I guess Crutches could also do it.

Yes, please feel free to send the email, since you

[2015-11-06 15:49] mgwidmann opened #90 "Remove Map's fetch_path/fetch_path!/get_path"
Elixir provides this functionality in `get_in` and and update version with `put_in`:

http://elixir-lang.org/docs/stable/elixir/Kernel.html#get_in/2
http://elixir-lang.org/docs/stable/elixir/Kernel.html#put_in/3

[2015-11-06 17:42] CyrusNuevoDia commented on #90
You're right — would you like to submit a PR or would you like me to handle it?

[2015-11-06 20:48] mgwidmann commented on #90
I won't be able to do so until this weekend, so its up to you. Did you want to release a depreciation first?

[2015-11-06 22:53] CyrusNuevoDia commented on #90
@duijf Deprecation?

[2015-11-07 11:47] duijf commented on #90
Yeah probably good to do a soft deprecation first (print a warning, add notice to docs, add a TODO to remove the functions with 2.0).

[2015-11-08 18:57] eksperimental opened #92 "Add Elixir copytight to NOTICE file"
Integer.digits/1 was taken from Elixir. It should be credited with the proper copyright notice.

I think we should also include the @doc in the function

[2015-11-08 19:03] eksperimental opened #93 "Add Integer.undigits/1"
since we have Integer.digits/1, I think we should have Integer.undigits/1

the @doc for Integer.digits/1 is missing and it could be copied from Elixir codebase

[2015-11-08 19:35] lpil opened #94 "Should List.shorten/2 return nil or empty list when the enumerable is shorter than the amount to shorten by?"
Currently it return `nil`. I think empty list would be better, as then you can pipe this function into ones in the `Enum` module without having to pattern match on the return value to handle the possible fail case (`nil`).

[2015-11-08 20:16] duijf commented on #94
First off, thanks for the suggestion and taking the initiative with the PR!

I have to say I disagree with the proposed change, though. IMO, functions should return errors when they encounter a fail case, not continue silently.

The problem you're encountering with pipelines is not a problem with the functions themselves, but with the fact that the `|>` operator from the standard library doesn't a

[2015-11-08 20:37] lpil commented on #94
Lists are effectively a monad. With the Enum module you take a function from `a -> b` and apply it to a wrapped value, the same way you do with Haskell's monads. In fact, there are prominent members of the Haskell community such as Erik Meijer that have said that you should always avoid the Maybe monad in favour of the list monad, where empty list is the fail case.

It would make the type signatur

[2015-11-08 20:50] duijf commented on #92
Yup, this is needed. Thanks for catching this. Fixed in e777e5e1, docs added in 5b7809f.

By the way, as far as I know, merely including the function in an MIT is not a violation of the Apache license (as long as we don't make any changes to the code and provide attribution).

[2015-11-08 20:50] #92 closed, assigned to nobody

[2015-11-08 21:09] duijf commented on #84
I wouldn't know whether that would hold up. Sending an email would though, AFAIK. Going to look into that. If the approach Elixir uses holds up, then it seems like the best possible solution without us incurring a lot of bureaucracy.

That is true and probably not ideal on the Elixir side. CLA seems best anyway.

Depends on whether "The Crutches Project" is a legal entity (not until it we become s

[2015-11-08 21:48] duijf commented on #94
Lists have a monad instance, but that is the definition of a Functor, not a monad. `bind` takes a function `a -> m b` and `m a` and returns `m b`:

[code]

(Btw, this does exist in Elixir in `Enum.flat_map` which takes would have the Haskell type signature of  `[a] -> (a -> [b]) -> [b]`&mdash; normal map would be more like `[a] -> (a -> [b]) -> [[b]]`)

I think failing silently is not a good idea

[2015-11-09 04:01] CyrusNuevoDia commented on #94
@duijf Tooting my own horn, but [Towel](https://github.com/knrz/towel). Delegate the `Result.ok` and `Result.error`?

[2015-11-09 09:12] eksperimental commented on #92
I think we should do it thinking about that in the future it will get modified for whatever reason.
also apache requires to include a copy of the license
www.apache.org/licenses/LICENSE-2.0
Section 4, item 1

[2015-11-09 15:04] mgwidmann commented on #90
Submitted a PR #96 ... Wasn't sure where you wanted the TODO ...

[2015-11-10 11:03] duijf opened #97 "Integer.digits test is failing on Elixir 1.1+"
[code]

[2015-11-10 11:05] #90 closed, assigned to nobody

[2015-11-11 01:44] mayppong opened #100 "Would be nice if there's a Integer.is_prime? of some sort"
Not sure of the method naming convention but it would be nice if there's a way to check if a given number is a prime number.

[2015-11-20 05:20] Lord-Nightmare opened #102 "CLA is not signed by all contributors"
The CLA at https://github.com/FLIF-hub/FLIF-CLAs has been signed by 3 people so far (as of 20151119).
There are 17 contributors so far (as of 20151119) to https://github.com/FLIF-hub/FLIF
One of the contributors is jonsneyers, so that means there are 13 other contributors who have contributed code to FLIF, yet have not signed the CLA.
This needs to be rectified as soon as possible, otherwise later

[2015-11-20 05:21] #102 closed, assigned to nobody

[2015-11-20 05:22] Lord-Nightmare commented on #102
(what the heck? how did this end up on the wrong project? sorry.)

[2015-12-13 15:44] tispratik opened #103 "Hex documentation is missing"
http://hexdocs.pm/crutches/ does not open.

[2015-12-13 22:38] duijf commented on #103
Hey @tispratik, thanks for the report! I'll see what I can do tomorrow, but I'm not sure I have the access to do so.

@mykewould think you might need to step in here.

[2015-12-14 12:19] dmarkow opened #104 "number_to_human issue when rounding up to next unit"
[code]

"1000 thousand" should probably be "1 million". Same with "1000 Million", "1000 Billion", etc.

FWIW, Rails/ActiveSupport [had this same issue up until 2 months ago](https://github.com/rails/rails/pull/20872)

[2015-12-14 23:35] mykewould commented on #103
I'll take a look!

[2015-12-15 00:07] mykewould commented on #103
Ok, they've been added, but I think it may take a moment for the hosting to be resolved. I'll check back in a few hours.

[2015-12-15 05:22] tispratik commented on #103
Works! Thanks.

On Mon, Dec 14, 2015 at 4:07 PM Michael Wood notifications@github.com
wrote:

[2015-12-15 05:22] #103 closed, assigned to nobody

[2015-12-16 16:26] #97 closed, assigned to nobody

[2016-03-17 03:46] paolodm opened #105 "Upgrade crutches to support elixir 1.2.2"
1.1.0 is the latest version crutches supports. Can we upgrade to the latest and greatest?

[2016-03-21 03:43] mykewould commented on #105
I'll work on getting this out this week.

[2016-03-21 14:08] duijf commented on #105
Did some work on this today. Tests are green, but we use some functions that are deprecated in 1.2.

[2016-03-22 20:45] paolodm commented on #105
@duijf Do you have a pull request I can peruse?

[2016-03-23 14:38] duijf commented on #105
@paolodm I added the commits to master (179e0db to d4cc1593, see [here](https://github.com/mykewould/crutches/commits/master)), so currently you can use the following in your `mix.exs` until a new version is pushed:

[code]

We still need to stop using the deprecated `Map.get_path` and `Map.fetch_path` in favour of `Kernel.get_in` before we can say we're 1.2 ready. (I don't have a lot of time left

[2016-03-23 19:04] paolodm commented on #105
@duijf, removing get_path and fetch_path from crutches didn't seem to be a problem. See [this pr](https://github.com/mykewould/crutches/pull/106/files).

So I'm not sure what we need to change, at least in this repository.

[2016-03-23 19:06] CyrusNuevoDia commented on #105
Should the `mix.exs` file specify Elixir `~> 1.2` or `> 1.0`. Our TravisCI builds are failing because of this.

[2016-03-23 19:11] paolodm commented on #105
Yes, you are right. Changed back to 1.0 and everything is green. :+1:

[2016-03-26 13:38] duijf commented on #100
Merged :)

[2016-03-26 13:38] #100 closed, assigned to nobody

[2016-03-26 17:44] paolodm commented on #105
This landed as 87b494ea86537173544db2163dc2996a20edc534. Closing.

[2016-03-26 17:44] #105 closed, assigned to nobody

[2016-03-26 18:25] #94 closed, assigned to nobody

[2016-06-26 14:30] duijf commented on #104
Fixed in #109 :)

[2016-06-26 14:30] #104 closed, assigned to nobody

[2017-01-02 21:53] schuyler4 commented on #93
I am going to try to work on this one

[2017-01-03 08:57] druzn3k commented on #93
Well thanks @schuyler4 :) Let me know if you need some help, ok?

[2017-01-12 21:50] duijf opened #112 "Number.as_rounded is broken on 1.4"
See https://travis-ci.org/mykewould/crutches/builds/191438234

On Elixir 1.4, the result of `Number.as_rounded` is different from the result that earlier Elixir versions gave. These should all be consistent and of the old behaviour

I don't have time to work on this, currently; so this is up for grabs!

[2017-01-15 21:05] duijf opened #113 "Decide on removal of underscore/1 and camelize/1"
`Crutches.String.underscore/1` and `Crutches.String.camelize/1` are currently just delgates to the same functions in the `Macro` module in the Elixir standard library.

Since the goal of Crutches is to be a supplement to functionality that is not in the standard library, we can probably remove these functions (they are also currently breaking the build on Elixir 1.1).

Thoughts?

[2017-01-22 00:05] mykewould commented on #113
I agree with this.

[2017-01-22 19:42] #113 closed, assigned to nobody

[2017-02-16 11:17] ghost opened #114 "Merge with samvv/elixir-toolbelt"
Hi,

I started my own small utility belt library but shortly after discovered yours thanks to [h4cc/awesome-elixir](https://github.com/h4cc/awesome-elixir). I am currently still bootstrapping it, but would it be a good idea to merge in the future? I noticed that there already are some functions that are not there yet in this library.

Will keep you updated.

Regards,
Sam

[2017-02-24 17:15] carlism commented on #112
I had a go at this:  https://github.com/mykewould/crutches/pull/115

[2017-02-25 21:17] duijf commented on #114
Hi Sam! Thanks for your interest! I'm definitely interested in collaborating. Any reason in particular you decided to start your own lib instead of sending PRs? (No worries about the competition, just want to know if we could have done things better)

[2017-02-26 08:52] duijf commented on #112
Tests are passing again!

[2017-02-26 08:52] #112 closed, assigned to nobody

[2017-02-26 11:05] ghost commented on #114
Hey,

The most important reason was that I wanted to experiment a bit more than forking allowed me to do. I wanted to start from scratch, without being biased. For instance, I've found a pretty clean way of [seamlessly extending the core modules](https://github.com/samvv/elixir-toolbelt/blob/master/lib/toolbelt/extends.ex). I wasn't sure this was a good thing to do, but now I'm starting to get con

[2017-06-30 09:02] samsondav opened #116 "What about `blank?` and `present?` like ActiveSupport?"
I am happy to implement a PR if there is interest in including `blank?` and `present?`.

[2017-06-30 13:45] CyrusNuevoDia commented on #116
Go for it!

[2017-07-03 18:19] mykewould opened #118 "[RFC] Compatibility"
What are our thoughts on backwards compatibility of Elixir versions? How far back should we go with new releases of Crutches. Right now we are failing on anything at or before Elixir version 1.2.6. With 1.5 just around the corner, I think we should drop support for some of the older versions.

[2017-07-04 01:13] #116 closed, assigned to nobody

[2017-08-10 23:24] #118 closed, assigned to nobody

[2018-08-09 07:52] RaphSfeir opened #123 "Compability issue with elixir 1.7 - new release needed ?"
I have a dependency relying on crutches, however it won't compile since I switched my project to the latest Elixir version, 1.7.2.

It seems the only Hex release available for this project is the `1.0.0` version, with the latest commits in 2015, if I'm not mistaken. Using:

`{:crutches,     "~> 2.0.0"}`

raises
[code]

Looking at the `mix.exs` file here from the master on this repo, it is specifie

[2020-09-20 16:40] #93 closed, assigned to nobody

[2020-09-20 16:40] #86 closed, assigned to nobody

[2021-04-01 13:03] eksperimental commented on #84
5+ year have passed

[2021-04-01 13:03] #84 closed, assigned to nobody